In [2]:
#importamos librerias necesarias
import pandas as pd

In [76]:
#Cargamos los datos del archivo CSV de Códigos de Muerte
df_CodigosDeMuerte = pd.read_csv(
    'ArchivosOriginales/Codigos de Muerte.csv',
    sep=';',          
    engine='python'   
)

df_CodigosDeMuerte.head() #mostramos las primeras filas del dataframe

,Capítulo,Nombre capítulo,Código de la CIE-10 tres caracteres,Descripción de códigos mortalidad a tres caracteres,Código de la CIE-10 cuatro caracteres,Descripcion de códigos mortalidad a cuatro caracteres
0,1,Ciertas enfermedades infecciosas y parasitaria...,A00,Colera,A000,"Colera debido a Vibrio cholerae 01, biotipo ch..."
1,1,Ciertas enfermedades infecciosas y parasitaria...,A00,Colera,A001,"Colera debido a Vibrio cholerae 01, biotipo el..."
2,1,Ciertas enfermedades infecciosas y parasitaria...,A00,Colera,A009,"Colera, no especificado"
3,1,Ciertas enfermedades infecciosas y parasitaria...,A01,Fiebres Tifoidea Y Paratifoidea,A010,Fiebre tifoidea
4,1,Ciertas enfermedades infecciosas y parasitaria...,A01,Fiebres Tifoidea Y Paratifoidea,A011,Fiebre paratifoidea A

In [79]:
#Cargamos los datos del archivo CSV de Datos de mortalidad
df_DatosMortalidad = pd.read_csv(
    "ArchivosOriginales/Datos de Mortalidad.csv",
    sep=';',
    engine='python')

df_DatosMortalidad.head()#imprimimos los primeros 5 registros del dataframe

,COD_DANE,COD_DEPARTAMENTO,COD_MUNICIPIO,AREA_DEFUNCION,SITIO_DEFUNCION,AÑO,MES,HORA,MINUTOS,SEXO,ESTADO_CIVIL,GRUPO_EDAD1,NIVEL_EDUCATIVO,MANERA_MUERTE,COD_MUERTE,IDPROFESIONAL
0,66682,66,682,1,5,2019,11,23,0,2,5.0,15,3,Homicidio,X994,1
1,17001,17,1,1,1,2019,12,21,10,1,6.0,16,2,Natural,C712,1
2,25843,25,843,1,1,2019,12,20,15,2,4.0,19,2,Sin Determinar,Y349,1
3,23001,23,1,1,1,2019,12,14,20,2,1.0,23,2,Natural,I678,1
4,73001,73,1,1,1,2019,11,8,40,2,4.0,23,2,Natural,F03,1

In [80]:
#Cargamos los datos del archivo CSV de Datos de Divipola

df_Divipola = pd.read_csv(
    "ArchivosOriginales\Divipola.csv",
    sep =";",
    engine='python'
)

df_Divipola.head() #imprimimos los primeros 5 registros del dataframe

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\ACER NITRO\AppData\Local\Temp\ipykernel_3052\984798423.py:4: SyntaxWarning: invalid escape sequence '\D'
  "ArchivosOriginales\Divipola.csv",

,COD_DANE,COD_DEPARTAMENTO,DEPARTAMENTO,COD_MUNICIPIO,MUNICIPIO,FECHA1erFIS
0,91001,91,AMAZONAS,1,LETICIA,31/03/2020
1,91405,91,AMAZONAS,405,LA CHORRERA,15/06/2020
2,91407,91,AMAZONAS,407,LA PEDRERA,17/07/2020
3,91540,91,AMAZONAS,540,PUERTO NARIÑO,15/04/2020
4,91669,91,AMAZONAS,669,PUERTO SANTANDER,24/06/2020

In [82]:
#Generamos el archivo de muester por departamento en colombia para el año 2019
#agrupamos los datos del archivo datos de mortalidad por departamento 

df_MuertesPorDepartamento = df_DatosMortalidad.groupby(['COD_DEPARTAMENTO','SEXO','MANERA_MUERTE']).size().reset_index(name='Muertes') #agrupamos los datos por departamento y contamos el número de muertes
#Concatenamos el dataframe de muertes por departamento con el dataframe de divipola para obtener el nombre del departamento, Sexo, edad y manera de muerte
df_MuertesPorDepartamento = pd.merge(df_MuertesPorDepartamento, df_Divipola[['COD_DEPARTAMENTO', 'DEPARTAMENTO']], on='COD_DEPARTAMENTO', how='left') #unimos los dataframes por la columna COD_DEPARTAMENTO
#reemplazar 1 por Masculino y 2 por Femenino en la columna Sexo
df_MuertesPorDepartamento['SEXO'] = df_MuertesPorDepartamento['SEXO'].replace({1: 'Masculino', 2: 'Femenino', 3: 'No Definido'}) #reemplazamos los valores de la columna Sexo
#Generamos el archivo CSV de muertes por departamento
ruta_Salida = "ArchivosProcesados/MuertesPorDepartamento.csv" #definimos la ruta de salida
df_MuertesPorDepartamento.to_csv(ruta_Salida, sep=';', index=False) #guardamos el dataframe en un archivo CSV

In [87]:
df_DatosMortalidad["MANERA_MUERTE"].unique()

array(['Homicidio', 'Natural', 'Sin Determinar', 'Suicidio', 'Accidente',
       'Estudio'], dtype=object)

In [84]:
#Generamos el archivo que muestre muertes por mes en colombia

df_MuertesPorMes = df_DatosMortalidad.groupby(['MES','SEXO','HORA','MANERA_MUERTE']).size().reset_index(name='Muertes') #agrupamos los datos por mes y contamos el número de muertes
#Añadimos el nombre del mes al dataframe
df_MuertesPorMes['MES'] = df_MuertesPorMes['MES'].replace({1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}) #reemplazamos los valores de la columna MES
#reemplazar 1 por Masculino y 2 por Femenino en la columna Sexo
df_MuertesPorMes['SEXO'] = df_MuertesPorMes['SEXO'].replace({1: 'Masculino', 2: 'Femenino', 3: 'No Definido'}) #reemplazamos los valores de la columna Sexo
#Generamos el archivo CSV de muertes por mes
ruta_Salida = "ArchivosProcesados/MuertesPorMes.csv" #definimos la ruta de salida
df_MuertesPorMes.to_csv(ruta_Salida, sep=';', index=False) #guardamos el dataframe en un archivo CSV

In [88]:
#agrupamos los datos de mortalidad por codigo de muerte, sexo y mes 
df_MuertesPorCodigo = df_DatosMortalidad.groupby(['COD_MUERTE','SEXO','MES',]).size().reset_index(name='Muertes') #agrupamos los datos por codigo de muerte y contamos el número de muertes
#Concatenamos el dataframe de muertes por codigo de muerte con el dataframe de codigos de muerte para obtener el nombre del codigo de muerte
df_MuertesPorCodigo = pd.merge(
	df_MuertesPorCodigo,
	df_CodigosDeMuerte[['Código de la CIE-10 cuatro caracteres', "Descripcion  de códigos mortalidad a cuatro caracteres"]],
	left_on='COD_MUERTE',
	right_on='Código de la CIE-10 cuatro caracteres',
	how='left'
) #unimos los dataframes por la columna COD_MUERTE
#reemplazar 1 por Masculino y 2 por Femenino en la columna Sexo 
df_MuertesPorCodigo['SEXO'] = df_MuertesPorCodigo['SEXO'].replace({1: 'Masculino', 2: 'Femenino', 3: 'No Definido'}) #reemplazamos los valores de la columna Sexo
#Generamos el archivo CSV de muertes por codigo de muerte
ruta_Salida = "ArchivosProcesados/MuertesPorCodigo.csv" #definimos la ruta de salida
df_MuertesPorCodigo.to_csv(ruta_Salida, sep=';', index=False) #guardamos el dataframe en un archivo CSV

In [ ]:
#Agrupamos los datos por municipio, Mes, Manera de muerte y contamos el número de muertes
df_MuertesPorMunicipioTabla = df_DatosMortalidad.groupby(['COD_MUNICIPIO','MES', 'SEXO', "COD_MUERTE"]).size().reset_index(name='Muertes') #agrupamos los datos por municipio y contamos el número de muertes
#Concatenamos el dataframe de muertes por municipio con el dataframe de divipola para obtener el nombre del municipio
df_MuertesPorMunicipioTabla = pd.merge(df_MuertesPorMunicipioTabla, df_Divipola[['COD_MUNICIPIO', 'MUNICIPIO']], on='COD_MUNICIPIO', how='left') #unimos los dataframes por la columna COD_MUNICIPIO  
#reemplazar 1 por Masculino y 2 por Femenino en la columna Sexo
df_MuertesPorMunicipioTabla['SEXO'] = df_MuertesPorMunicipioTabla['SEXO'].replace({1: 'Masculino', 2: 'Femenino', 3: 'No Definido'}) #reemplazamos los valores de la columna Sexo
#unimos el dataframe con el dataframe de codigos de muerte para obtener el nombre del codigo de muerte
df_MuertesPorMunicipioTabla = pd.merge(
    df_MuertesPorMunicipioTabla,
    df_CodigosDeMuerte[['Código de la CIE-10 cuatro caracteres', "Descripcion  de códigos mortalidad a cuatro caracteres"]],
    left_on='COD_MUERTE',
    right_on='Código de la CIE-10 cuatro caracteres',
    how='left'
) #unimos los dataframes por la columna COD_MUERTE
#Generamos el archivo CSV de muertes por municipio
ruta_Salida = "ArchivosProcesados/MuertesPorMunicipioTabla.csv" #definimos la ruta de salida
#df_MuertesPorMunicipioTabla.to_csv(ruta_Salida, sep=';', index=False) #guardamos el dataframe en un archivo CSV

In [90]:
df_histograma = df_DatosMortalidad.groupby(['SEXO','GRUPO_EDAD1','MES']).size().reset_index(name='Muertes')    #agrupamos los datos por edad y contamos el número de muertes
#reemplazar 1 por Masculino y 2 por Femenino en la columna Sexo
df_histograma['SEXO'] = df_histograma['SEXO'].replace({1: 'Masculino', 2: 'Femenino', 3: 'No Definido'}) #reemplazamos los valores de la columna Sexo
#Generamos el archivo CSV de muertes por edad
ruta_Salida = "ArchivosProcesados/MuertesPorEdad.csv" #definimos la ruta de salida
df_histograma.to_csv(ruta_Salida, sep=';', index=False) #guardamos el dataframe en un archivo CSV

In [91]:
#Filtramos el archivo de datos de mortalidad para obtener solo los registros de muertes por homicidio , filtramos por manera de muerte
df_DatosMortalidad = df_DatosMortalidad[df_DatosMortalidad['MANERA_MUERTE']=="Homicidio"] #filtramos los datos por manera de muerte
#Agrupamos los datos por municipio, Mes, Manera de muerte y contamos el número de muertes
df_MuertesPorMunicipio = df_DatosMortalidad.groupby(['COD_MUNICIPIO','MES', 'SEXO']).size().reset_index(name='Muertes') #agrupamos los datos por municipio y contamos el número de muertes
#Concatenamos el dataframe de muertes por municipio con el dataframe de divipola para obtener el nombre del municipio
df_MuertesPorMunicipio = pd.merge(df_MuertesPorMunicipio, df_Divipola[['COD_MUNICIPIO', 'MUNICIPIO']], on='COD_MUNICIPIO', how='left') #unimos los dataframes por la columna COD_MUNICIPIO  
#reemplazar 1 por Masculino y 2 por Femenino en la columna Sexo
df_MuertesPorMunicipio['SEXO'] = df_MuertesPorMunicipio['SEXO'].replace({1: 'Masculino', 2: 'Femenino', 3: 'No Definido'}) #reemplazamos los valores de la columna Sexo
#Convertimos la columna MES a tipo int
df_MuertesPorMunicipio['MES'] = df_MuertesPorMunicipio['MES'].astype(int) #convertimos la columna MES a tipo int
#Generamos el archivo CSV de muertes por municipio
ruta_Salida = "ArchivosProcesados/MuertesPorMunicipio.csv" #definimos la ruta de salida
df_MuertesPorMunicipio.to_csv(ruta_Salida, sep=';', index=False) #guardamos el dataframe en un archivo CSV

In [92]:
df_DatosMortalidad["MANERA_MUERTE"].unique()

array(['Homicidio'], dtype=object)